/* .navigation {
    width: 1240px;
    padding: 0;
    display: flex;
    color: #333;
    font-size: 12px;
    margin: 20px auto;
    height: 30px;
    line-height: 30px;
    position: absolute;
    width: 0;
    height: 0;
    text-indent: 100%;
    float: right;
    padding-left: 12px;
    color: #333;
} */
/* display: none; */
/* white-space: nowrap; */
/* justify-content: end; */
/* 
.inner span {
    position: absolute;
    width: 0;
    height: 0;
    white-space: nowrap;
    text-indent: 100%;
    display: none;
}

.path li {
    float: left;
    padding-left: 12px;
    color: #333;
}

.path li a {
    color: #333;
} */