/* 모달창을 화면 중앙 노출 */
#QnaModal_Background {
    /* 모달창 크기 */
    width: 900px;
    height: 650px;

    z-index: 999;

    /* 중앙 배치 */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* 모달창 디자인 */
    background-color: white;
    box-shadow: 2px 4px 5px 0px gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.QnaModal_container2 {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    width: 800px;
    height: 700px;
    display: inline-block;
    z-index: 999;

}

/* ============================== */
/* 모달창 내부 X버튼 */
.qnaModal_close_rotate {
    position: absolute;
    right: 30px;
    top: 30px;
    transition: all 0.3s ease-in-out;
    z-index: 2222;
    cursor: pointer;
}

.qnaModal_close_rotate:hover {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.qnaModal_container2 {
    overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
}

.qna_board_table input:focus {
    outline: none;
}

.inputTypeText {
    color: #222;
    font-size: 22px;
    float: left;
    padding: 5px 40px;
}

/* ============================== */
/* 글쓰기 */
.qna_writeArea {
    width: 720px;
    line-height: 100px;
    text-align: center;
}

.qna_write_info, 
.qna_board_table {
    width: 100%;
    position: relative;
    margin: 10px 0 0;
    color:black;
    line-height: 1.5;
    border-spacing: 0;
    border-collapse: collapse;
}

.qna_board_table {
    border: 1px solid #ccc;
    margin: 20px 10px;
}

.qna_board_table tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.qna_board_table tr {
    display: table-row;
        vertical-align: inherit;
        color: black;
        line-height: 1.5;
        border-spacing: 0;
        border-collapse: collapse;
}

.qna_board_table th {
    border-bottom: 1px solid #e9e9e9;
    padding: auto 0 10px 18px;
    border: 1px solid #dfdfdf;
    border-bottom-width: 0;
    color: #353535;
    text-align: left;
    font-weight: normal;
    background-color: #fbfafa;
    text-align: center;
}

.qna_board_table td {
    padding: 8px 10px 7px;
    border-top: 1px solid #dfdfdf;
    color: #353535;
    vertical-align: middle;
    word-break: break-all;
    word-wrap: break-word;
}

.qna_write_info input[type="text"] {
    height: 18px;
    line-height: 20px;
    padding: 2px 4px;
    font-size: 12px;
    vertical-align: middle;
    outline: none;
}

#qna_bContent {
    height: 250px;
    background: transparent;
    color: #000000;
    position: relative;
    z-index: 2;
    margin: 0px;
    overflow: hidden;
    min-height: 20px;
}

/* ============================== */
/* 카테고리부분 */
#board_category1 {
    margin-right: 20px;
}

#board_category2 .qna_write_filter option {
    font-weight: normal;
    display: block;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

/* ============================== */
/* 등록완료 버튼*/

.qna_btnSet {
    display: flex;
    text-align: center;
    justify-content: center;
}

.qna_writesubmit_btn {
    background-color: #a3a1a1;
        color: white;
        margin-top: 10px;
        font-size: 12px;
        position: relative;
        padding: 10px 15px;
        border-radius: 15px;
        font-family: "paybooc-Light", sans-serif;
        font-weight: 600;
        transition: 0.25s;
        margin-left: -1px;
        cursor: pointer;
}